*.log
.DS_Store
.phpunit.result.cache
Thumbs.db

# Root ignores
/.cursor/
/.vscode/
/.idea/

# Backend ignores
backend/.env
backend/.env.backup
backend/.env.production
backend/node_modules/
backend/vendor/
backend/public/build
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/.phpunit.cache

# Frontend ignores
frontend/node_modules/
frontend/dist/
